/* glue: 0.11.1 hash: 067d603b12 */
        .sprite-icon-twitter,
.sprite-icon-ios,
.sprite-logo-200x71,
.sprite-icon-web,
.sprite-icon-slack,
.sprite-icon-instapaper,
.sprite-icon-chrome,
.sprite-logo-100x36,
.sprite-icon-web-sm,
.sprite-icon-twitter-sm,
.sprite-icon-slack-sm,
.sprite-icon-ios-sm,
.sprite-icon-instapaper-sm,
.sprite-icon-chrome-sm,
.sprite-icon-android-sm,
.sprite-btn-close,
.sprite-logo-w-sm,
.sprite-btn-action,
.sprite-caret-down,
.sprite-caret-up,
.sprite-empty {
            background-image: url('../images/sprite.png');
            background-repeat: no-repeat;
        }
        
        .sprite-icon-twitter {
            background-position: 0 0;
            width: 120px;
            height: 97px;
        }
        
        .sprite-icon-ios {
            background-position: -120px 0;
            width: 114px;
            height: 97px;
        }
        
        .sprite-logo-200x71 {
            background-position: 0 -97px;
            width: 100px;
            height: 36px;
        }
        
        .sprite-icon-web {
            background-position: 0 -133px;
            width: 97px;
            height: 97px;
        }
        
        .sprite-icon-slack {
            background-position: -97px -133px;
            width: 85px;
            height: 97px;
        }
        
        .sprite-icon-instapaper {
            background-position: -233px 0;
            width: 97px;
            height: 97px;
        }
        
        .sprite-icon-chrome {
            background-position: -233px -97px;
            width: 97px;
            height: 97px;
        }
        
        .sprite-logo-100x36 {
            background-position: -233px -194px;
            width: 50px;
            height: 18px;
        }
        
        .sprite-icon-web-sm {
            background-position: -182px -133px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-twitter-sm {
            background-position: 0 -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-slack-sm {
            background-position: -50px -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-ios-sm {
            background-position: -100px -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-instapaper-sm {
            background-position: -150px -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-chrome-sm {
            background-position: -200px -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icon-android-sm {
            background-position: -250px -230px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-btn-close {
            background-position: -182px -183px;
            width: 38px;
            height: 38px;
        }
        
        .sprite-logo-w-sm {
            background-position: -100px -97px;
            width: 28px;
            height: 24px;
        }
        
        .sprite-btn-action {
            background-position: -300px -230px;
            width: 26px;
            height: 26px;
        }
        
        .sprite-caret-down {
            background-position: -283px -194px;
            width: 23px;
            height: 13px;
        }
        
        .sprite-caret-up {
            background-position: -306px -194px;
            width: 22px;
            height: 11px;
        }
        
        .sprite-empty {
            background-position: -328px -194px;
            width: 1px;
            height: 1px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-icon-twitter,
    .sprite-icon-ios,
    .sprite-logo-200x71,
    .sprite-icon-web,
    .sprite-icon-slack,
    .sprite-icon-instapaper,
    .sprite-icon-chrome,
    .sprite-logo-100x36,
    .sprite-icon-web-sm,
    .sprite-icon-twitter-sm,
    .sprite-icon-slack-sm,
    .sprite-icon-ios-sm,
    .sprite-icon-instapaper-sm,
    .sprite-icon-chrome-sm,
    .sprite-icon-android-sm,
    .sprite-btn-close,
    .sprite-logo-w-sm,
    .sprite-btn-action,
    .sprite-caret-down,
    .sprite-caret-up,
    .sprite-empty {
                background-image: url('../images/sprite.png');
                -webkit-background-size: 330px 280px;
                -moz-background-size: 330px 280px;
                background-size: 330px 280px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .sprite-icon-twitter,
    .sprite-icon-ios,
    .sprite-logo-200x71,
    .sprite-icon-web,
    .sprite-icon-slack,
    .sprite-icon-instapaper,
    .sprite-icon-chrome,
    .sprite-logo-100x36,
    .sprite-icon-web-sm,
    .sprite-icon-twitter-sm,
    .sprite-icon-slack-sm,
    .sprite-icon-ios-sm,
    .sprite-icon-instapaper-sm,
    .sprite-icon-chrome-sm,
    .sprite-icon-android-sm,
    .sprite-btn-close,
    .sprite-logo-w-sm,
    .sprite-btn-action,
    .sprite-caret-down,
    .sprite-caret-up,
    .sprite-empty {
                background-image: url('../images/sprite@2x.png');
                -webkit-background-size: 330px 280px;
                -moz-background-size: 330px 280px;
                background-size: 330px 280px;
            }
        }
        